/* Section globale */
.aboutSection {
  position: relative;
  overflow: hidden;
}

/* Bannière */
.bannerContainer {
  position: relative;
  width: 100%;
  height: 300px;
}

.banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* Portrait */
.portraitContainer {
  position: absolute;
  left: 50px;
}

.portrait {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #d2b48c;
}

/* Texte */
.textOverlay {
  margin: 0 auto;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 4px rgb(0, 0, 0);
}

.title {
  font-size: 3rem;
  margin: 0 0 10px;
  cursor: default;
}

.text {
  font-size: 1.5rem;
  margin: 0;
  cursor: default;
}

/* Responsive Design for Medium Screens (1024px) */
@media (max-width: 1024px) {
  .overlay {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .portraitContainer {
    position: static;
    margin-bottom: 20px;
  }

  .portrait {
    width: 120px;
    height: 120px;
  }

  .textOverlay {
    max-width: 700px;
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .text {
    font-size: 1.1rem;
  }
}

/* Responsive Design for Large Screens (1200px) */
@media (min-width: 1200px) and (max-width: 1439px) {
  .overlay {
    justify-content: space-between;
    padding: 0 50px;
  }

  .portraitContainer {
    left: 80px;
  }

  .portrait {
    width: 200px;
    height: 200px;
  }

  .textOverlay {
    max-width: 600px;
    text-align: left;
  }

  .title {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1.2rem;
  }
}

/* Reset to Original Design for Extra-Large Screens (1440px and above) */
@media (min-width: 1440px) {
  .overlay {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    transform: translateX(-80px);
  }

  .portraitContainer {
    position: relative;
    margin: 0;
  }

  .portrait {
    width: 250px;
    height: 250px;
  }

  .textOverlay {
    margin: 0;
    text-align: center;
    padding: 0;
  }

  .title {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .text {
    font-size: 1.5rem;
  }
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .overlay {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .portraitContainer {
    position: static;
    margin-bottom: 10px;
  }

  .portrait {
    width: 100px;
    height: 100px;
  }

  .textOverlay {
    text-align: center;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 1rem;
  }
}
