.App {
  text-align: center;
  /* background-color: #a98259;  */
  /* background-image: url("./assets/img/bg.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #9a602d; /* Couleur foncée inspirée du bois */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d2b48c; /* Couleur du texte ajustée pour contraster avec le fond bois foncé */
}

.App-link {
  color: #8b5a2b; /* Couleur café pour les liens */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
